{% extends '_base.html' %}
{% block page_title %}Blog{% endblock page_title%}
{% block content %}
   <div class="container mt-4">
        <div class="row">
            <div class="col-12">
                {% for post in posts %}
                    <div class="card shadow-sm my-3">
                        <div class="card-body">
                            <h5 class="card-title">{{ post.title }}</h5>
                            <h6 class="card-subtitle mb-2 text-muted small py-2">Author: {{ post.author}} | {{ post.datetime_created }}</h6>
                            <p class="card-text py-3">
                                {{ post.text }}
                            </p>
                            <a href="{% url 'post_detail' post.id %}">
                                <div class="btn btn-sm btn-success">Read More</div>
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>

    
{% endblock content%}