{% extends '_base.html' %}
{% block page_title %}{{ post.title }}{% endblock page_title %}
{% block content %}
    <div class="container mt-4">
        <div class="row">
            <div class="col-12">
                <div class="card shadow my-3 p-5">
                    <h1>{{ post.title }}</h1>
                    <p class="small text-muted mt-2">{{ post.date_created }} | By: {{ post.author }}</p>
                    <center>
                        <div class="col-xs-15 col-md-5 d-flex justify-content-center">
                            {% if post.cover %}
                                <img src="{{ post.cover.url }}" class="img-fluid rounded-start">
                            {% endif %}
                        </div>
                    </center>
                    <p class="mt-5">{{ post.text }}</p>
                </div>
            </div>
            <!-- Like Button and Likes Label -->
            <div class="container mt-4">
                <div class="row">
                    <div class="col-12">
                        <div class="card shadow my-3 p-5">
                            <h3>Likes:</h3>
                            <!-- Like Button -->
                            <div class="text-center">
                                <a href="{% url "like_post" post.id %}">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                                         class="bi bi-heart" viewBox="0 0 16 16">
                                        <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143q.09.083.176.171a3 3 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15"/>
                                    </svg>
                                </a>
                            </div>
                            <!-- Likes Count -->
                            <div class="text-center mt-2">
                                <span>{{ post.likes_count }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="card shadow my-3 p-5">
                    <h3>Comments:</h3>
                </div>
            </div>
            <div class="col-12">
                <div class="card shadow my-3 p-5">
                    <h3>Add new comment:</h3>
                    <form method="POST">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-primary mt-3">ارسال</button>
                    </form>
                </div>
            </div>
        </div>
    </div>


{% endblock content %}
