{% extends '_base.html' %}
{% block page_title %}Blog{% endblock page_title %}
{% block content %}
    <div class="container mt-4">
        <div class="row">
            <div class="col-12">
                {% if posts %}
                    {% for post in posts %}
                        <div class="card shadow-sm my-3">
                            <div class="card-body">
                                <h5 class="card-title">{{ post.title }}</h5>
                                <h6 class="card-subtitle mb-2 text-muted small py-2">{{ post.date_created }} |
                                    By: {{ post.author }}</h6>
                                <center>
                                    <div class="col-xs-12 col-md-3 d-flex justify-content-center">
                                        {% if post.cover %}
                                            <img src="{{ post.cover.url }}"
                                                 class="img-fluid rounded-start">
                                        {% endif %}
                                    </div>
                                </center>
                                <p class="card-text py-3">
                                    {{ post.text }}
                                </p>
                                <a href="{% url 'post_detail' post.id %}">
                                    <div class="btn btn-sm btn-success">Read More</div>
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <div class="card shadow-sm my-3">
                        <div class="card-body">
                            <h5 class="card-title">No Post Available!</h5>
                            <a href="{% url 'post_create' %}">Create New Post</a>
                        </div>
                    </div>
                {% endif %}

            </div>


{% endblock content %}