{% extends '_base.html' %}
{% block page_title %}Blog{% endblock page_title %}
{% block content %}
    <div class="container mt-4">
        <div class="row">
            <div class="col-12">
                {% if posts %}
                    {% for post in posts %}
                        <div class="card border-0 shadow-sm my-3">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-3">
                                        {% if post.cover %}
                                            <img src="{{ post.cover.url }}" class="img-fluid rounded">
                                        {% endif %}
                                    </div>
                                    <div class="col-md-9">
                                        <h5 class="card-title">{{ post.title }}</h5>
                                        <h6 class="card-subtitle mb-2 text-muted small">{{ post.date_created }} |
                                            By: {{ post.author }}</h6>
                                        <p class="card-text">{{ post.text }}</p>
                                    </div>
                                </div>

                                <table class="w-100">
                                    <tr>
                                        <td class="text-right">
                                            <a href="{% url 'post_detail' post.id %}" class="btn btn-sm btn-success">Read
                                                More</a>
                                        </td>
                                        <td class="text-left">
                                            <span>0 likes</span>
                                        </td>
                                    </tr>
                                </table>


                            </div>
                        </div>


                    {% endfor %}
                {% else %}
                    <div class="card shadow-sm my-3">
                        <div class="card-body">
                            <h5 class="card-title">No Post Available!</h5>
                            <a href="{% url 'post_create' %}">Create New Post</a>
                        </div>
                    </div>
                {% endif %}

            </div>


{% endblock content %}